* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  background-color: #ccc;
  font-weight: 400;
}

#main {
  height: 100vh;
  display: flex;
  align-items: center;
}

#app {
  position: relative;
  padding: 0px 30px 40px 40px;
  background: white;
  border-radius: 15px;
  margin: 0 auto;
}
#app .header .search {
  display: flex;
  justify-content: center;
}
#app .header .search-box {
  width: 80%;
  border-radius: 20px;
  margin: 30px 0;
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  outline-color: #48CAE4;
  font-weight: 600;
}
#app .container {
  transition: all 0.3s linear;
}
#app .container .weather {
  transition: all 0.3s linear;
}
#app .container .weather__title {
  margin-bottom: 50px;
  text-align: center;
}
#app .container .weather__title--name {
  font-size: 1.8rem;
}
#app .container .weather__title--status {
  font-size: 0.6rem;
  font-weight: 500;
}
#app .container .weather .weather__img {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
#app .container .weather .weather__temperature {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
#app .container .weather .weather__temperature--pri {
  display: flex;
}
#app .container .weather .weather__temperature--pri > i {
  font-size: 1rem;
  color: #000749;
  height: 100%;
}
#app .container .weather .weather__temperature--deg {
  position: relative;
  font-size: 2.4rem;
  font-weight: 500;
  color: #000749;
}
#app .container .weather .weather__temperature--sub {
  display: flex;
}
#app .container .weather .weather__temperature--sub .weather__temperature--degF {
  position: relative;
  font-size: 0.8rem;
  margin: 6px;
}
#app .container .weather .weather__temperature--sub .weather__temperature--degF::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: -5px;
  top: 0px;
  background: #000749;
  border-radius: 50%;
}
#app .container .weather .weather__temperature--sub .weather__temperature--degD {
  position: relative;
  margin: 6px;
  color: rgba(0, 7, 73, 0.2);
  font-size: 0.8rem;
}
#app .container .weather .weather__temperature--sub .weather__temperature--degD::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: -5px;
  top: 0px;
  background: rgba(0, 7, 73, 0.3);
  border-radius: 50%;
}
#app .container .weather .weather__status {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
#app .container .weather .weather__status--icon {
  text-align: center;
}
#app .container .weather .weather__status--icon > i {
  font-size: 1rem;
  color: rgba(0, 7, 73, 0.3);
  margin-bottom: 10px;
}
#app .container .weather .weather__status--icon > p {
  color: #000749;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.hide {
  opacity: 0;
}

@media (max-width: 768px) {
  #main #app {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
